<nb-layout>
  <nb-layout-header fixed="true">
    <app-header class="w-100"></app-header>
  </nb-layout-header>
  <nb-layout-footer>
    <app-footer></app-footer>
  </nb-layout-footer>
  <nb-layout-column class="p-0 m-0">
    <section id="baner">
      <app-baner></app-baner>
    </section>
    <section id="aboutUs">
      <app-about-us></app-about-us>
    </section>
    <section id="staff">
      <app-staff></app-staff>
    </section>
    <section id="contact">
      <app-contact></app-contact>
    </section>
  </nb-layout-column>
</nb-layout>
